.clients {
  padding: 60px 0;

  @media screen and(min-width: 1200px) {
    padding: 94px 0;
  }
}

.clients__section-title {
  @extend %sectionTitleSmall;

  @media screen and(min-width: 1200px) {
    font-size: 36px;
    line-height: 1.167;

    margin: 0 0 50px 0;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0 0 -30px -30px;
}

.clients__item {
  height: 92px;
  flex-basis: calc((100% - 60px) / 2);
  margin: 0 0 30px 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients__link {
  @extend %flexCentring;

  height: 100%;

  color: $primaryIconColor;
  border: 1px solid $primaryIconColor;
  border-radius: 4px;

  transition-property: color, border-color;
  @extend %smoothTransition;

  &:hover,
  &:focus {
    color: $accentColor;
    border-color: $accentColor;
  }
}
