.features {
  padding: 60px 0;
  @media screen and(min-width: 1200px) {
    padding: 94px 0;
  }
}

.features__section-title {
  @extend %sectionTitle;

  &--hidded {
    @extend %visuallyHidden;
  }
}

.features__list {
  margin-bottom: -30px;
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.features__item {
  display: block;
  margin-bottom: 30px;
  @media screen and(min-width: 768px) {
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features__thumb {
  @extend %flexCentring;
  height: 120px;
  margin-bottom: 30px;
  background-color: $secondaryBgColor;
  border-radius: 4px;
}

.features__title {
  @include font();
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    @include font($ta: left);
  }
}

.features__text {
  line-height: 1.714;
  padding-bottom: 6px;
}

// .features {
//   @extend %sectionVerticalCentring;
// }

// .features__list {
//   display: flex;
// }

// .features__item {
//   display: block;
//   flex-basis: calc(100% / 4);

//   &:not(:first-child) {
//     @extend %inboxSpace;
//   }
// }
