.footer {
  padding: 60px 0;

  background-color: $altBgColor;
}

.footer__container {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__section-title {
  @extend %sectionTitle;

  &--hidded {
    @extend %visuallyHidden;
  }
}

.footer__contacts {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer__iconset {
  @media screen and (min-width: 1200px) {
    justify-content: start;
  }
}
