.cardset {
  margin: 40px 0 -30px 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 -30px -30px;
  }

  @media screen and (min-width: 1200px) {
    margin: 50px 0 -30px -30px;
  }
}

.cardset__item {
  display: block;
  margin: 0 0 30px 0;

  @media screen and (min-width: 768px) {
    margin: 0 0 30px 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.cardset__thumb {
  position: relative;
  overflow: hidden;
}

.cardset__dropup {
  position: absolute;
  bottom: 0;
  left: 0;

  transform: translateY(101%);
  transition-property: transform;
  @extend %smoothTransition;
}

.cardset__link {
  display: block;
  transition-property: box-shadow;
  @extend %smoothTransition;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    & .dropup {
      transform: translateY(0);
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.cardset__description {
  padding: 20px 24px;
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: #eeeeee;
  @media screen and (min-width: 768px) {
    flex-grow: 1;
  }
}

.cardset__title {
  @include font(700, 18px, 2, left, 0.06em);
  margin-bottom: 4px;
}

.cardset__text {
  @include fontSmall(400, 16px, 1.875);
}
