// .contacts {
//   &--vertical {
//     display: block;
//   }
// }

.contacts__item {
  &:not(:first-child) {
    @media screen and (min-width: 768px) {
      margin: 10px 0 0 0;
    }

    @media screen and (min-width: 1200px) {
      margin: 0 0 0 30px;
    }
  }
}

.contacts__link {
  @extend %flexVerticalCentring;
  @include font(500, 12px, 1.167, left, 0.02em);
  color: $primaryTextColor;

  transition-property: color;
  @extend %smoothTransition;
  &:hover,
  &:focus {
    color: $accentColor;
  }

  @media screen and (min-width: 1200px) {
    @include font(500, 14px, 1.143, 0.02em);
  }
}

.contacts__icon--tablet {
  @media screen and (min-width: 1200px) {
    display: none;
  }
  margin-right: 8px;
}

.contacts__icon--desktop {
  display: none;
  margin-right: 10px;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

// .contacts {
//   @extend %flexVerticalCentring;

//   &--vertical {
//     display: block;
//   }
// }

//   &--vertical:not(:last-child) {
//     margin: 0 0 6px 0;
//   }

//   &--vertical:last-child {
//     margin: 0;
//   }
// }

// .contacts__link {
//   position: relative;
//   @extend %flexVerticalCentring;

//

//   @extend %smoothTransition;
//   transition-property: color;

//   &:hover,
//   &:focus {
//     color: $accentColor;
//   }

//   &--translucent {
//     @include fontSmall();
//     color: $translucentTextColor;
//   }
// }

// .contacts__text {
//   &--white {
//     @include fontSmall();
//     color: $secondaryTextColor;
//   }
// }

// .contacts__icon {
//   margin-right: 10px;
// }
