%flexVerticalCentring {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

%flexCentring {
  display: flex;
  align-items: center;
  justify-content: center;
}

%sectionVerticalCentring {
  padding: 94px 0;
}

%inboxSpace {
  margin-left: 30px;
}

%sectionTitle {
  margin: 0 0 50px 0;

  font-size: 36px;
  line-height: 1.167;
  text-align: center;
}
