$accentColor: #2196f3;

$primaryTextColor: #757575;
$secondaryTextColor: #ffffff;
$altTextColor: #000000;
$translucentTextColor: rgba(255, 255, 255, 0.6);
$titleColor: #212121;

$primaryIconColor: #afb1b8;
$bgIconColor: rgba(255, 255, 255, 0.1);

$primaryBgColor: #ffffff;
$secondaryBgColor: #f5f4fa;
$altBgColor: #2f303a;
$buttonBgHoverColor: #188ce8;

$inputBorderColor: rgba(33, 33, 33, 0.2);

$underHeaderLine: #ececec;
