.cardset {
  display: flex;
  flex-wrap: wrap;
  margin: -30px 0 0 -30px;
}

.cardset__item {
  width: 370px;
  margin: 30px 0 0 30px;

  //   &:not(:nth-child(3n + 1)) {
  //     @extend %inboxSpace;
  //   }

  //   &:nth-last-child(n + 4) {
  //     margin-bottom: 30px;
  //   }
}

.cardset__thumb {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.cardset__dropup {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(101%);
  transition-property: transform;
  @extend %smoothTransition;
}

.cardset__link {
  display: block;
  transition-property: box-shadow;
  @extend %smoothTransition;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    & .dropup {
      transform: translateY(0);
    }
  }
}

.cardset__description {
  padding: 20px 24px;
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: #eeeeee;
}

.cardset__title {
  @include font(700, 18px, 2, left, 0.06em);
  padding-bottom: 4px;
}

.cardset__text {
  @include fontSmall(400, 16px, 1.875);
}
