// block class name: .logo

.logo {
  display: block;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  color: $accentColor;

  &__second-half {
    color: $altTextColor;
  }
}

.logo--invert {
  .logo__second-half {
    color: $secondaryTextColor;
  }
}
